 <div class="container">
<h2 class="mt-2">All our Flats</h2>
    <% if @query %>
    
    <p>You searched for <strong><%= @query %></strong>. We found <%= @flats.count %> flats out of  <%= Flat.count %> flats on our website./p>
    <% else %>
    <p>All <%= Flat.count %> flats.</p>
    <% end %>
<div class="row">

<% @flats.each do |flat| %>

 <div class="col" >
    <div class="card m-2 "  style="width: 20rem;">
        <div class="card-body bg-light">
        <h4 class="card-title text-dark"><%= flat.name %></h4>
        <h6 class="card-subtitle mb-3 "><%= flat.address %></h6>
    
        <i class="material-icons mr-2 "  style="vertical-align: middle !important">people</i><span><%= flat.number_of_guests %></span>
        <i class="material-icons mx-2" style="vertical-align: middle !important">euro_symbol</i><span><%= flat.price_per_night %></span>
        </div>


        <div class="card-footer text-muted bg-white">
        <span><%= link_to "More info", flat_path(flat) %></span>
        <span class="mx-2"><%= link_to "Edit", edit_flat_path(flat), class: "text-warning"  %></span> 
        <span class="mx-2"><%= link_to "Delete", flat_path(flat), method: :delete, data: { confirm: 'Deleting. Are you sure?'}, class: "text-danger"  %></span> 
        </div>
        
    </div>
</div>
    
<% end %>
</div>
 <div class="container">

